################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/testOpenCV/v15/ipch/AutoPCH/TESTOPENCV-d192576f
